body{
    font-family: sans-serif;
    background-color: #FFFDFA;
    margin: 0;
    padding: 0;
}
  
  h1 {
    text-align: center;
    margin-bottom: 100px;
    
  }

  h2{
    text-align: center;
   
  }
  
  a{
    padding: 1em;
  }
  
  .container{
    width: 100vw;
    height: auto;
    margin: auto;
    /* border: 2px solid black; */
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; */
  
    display: inline-grid;
    place-content: center;
    grid-template-columns: auto auto auto auto;
    /* background-color: grey; */
    justify-content: space-evenly;
  }
  
    @media screen and (max-width: 1200px){
      .container{
        grid-template-columns: auto auto;
      }
      a{
        padding: 1em;
      }
    }
  
  footer{
    background-color: blue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;  
    color: white;
    margin-top: 100px;
  }
  
  @media screen and (max-height: 700px){
    footer{
      background-color: blue;
      position: absolute;
      bottom: auto;
      width: 100%;
      height: auto;  
    }
  }
  
  body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(226,224,241,1) 100%);
    background-position: center;
  }

  .nav-link {
    border-bottom: 5px solid transparent;
  }
  
  .nav-link:hover {
    border-bottom: 5px solid red;
  }
  
  